allure-behave==2.5.2
allure-python-commons==2.5.2
attrs==18.2.0
behave==1.2.6
certifi==2018.10.15
chardet==3.0.4
Django==2.2.24
django-filter==2.0.0
djangorestframework==3.9.1
idna==2.7
Markdown==3.0.1
parse==1.9.0
parse-type==0.4.2
pluggy==0.8.0
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.24.2
